#include <windows.h>

#ifndef MONOLITH_VERSION
#define MONOLITH_VERSION 1
#endif
#define MONOLITH_VERSION_TEXT_2(value) #value
#define MONOLITH_VERSION_TEXT(value) MONOLITH_VERSION_TEXT_2(value)
#define MONOLITH_VERSION_STRING MONOLITH_VERSION_TEXT(MONOLITH_VERSION) ".0.0.0"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION MONOLITH_VERSION,0,0,0
 PRODUCTVERSION MONOLITH_VERSION,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Monolith Games"
            VALUE "FileDescription", "Monolith Game Production Client"
            VALUE "FileVersion", MONOLITH_VERSION_STRING
            VALUE "InternalName", "Monolith"
            VALUE "OriginalFilename", "Monolith.exe"
            VALUE "ProductName", "Monolith"
            VALUE "ProductVersion", MONOLITH_VERSION_STRING
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04E4
    END
END
